name: CI

on: [push]

jobs:
  build-linux:
    strategy:
        matrix:
          os: [ubuntu-latest, macos-latest]
        max-parallel: 5
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.7  # Start with the earliest version
    - name: Install dependencies
      run: |
        pip install -U pip setuptools
        pip install -e.[funcx,test]
    - name: Start Redis
      uses: supercharge/redis-github-action@1.4.0
    - name: Lint with flake8
      run: |
        flake8 colmena/
    - name: Test with pytest
      run: |
        pytest --cov-config=.coveragerc --cov=colmena colmena/
    - name: Coveralls
      run: |
        pip install coveralls
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
